<IfModule mod_rewrite.c>
	RewriteEngine on
	
	# redirect any virtual source to concrete index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php
	
</IfModule>